<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar incidente"
                   [(ngModel)]="queryText"
                   (ionInput)="searchIncidents()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="getIncidents($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let incident of incidents">
    <incident-preview [incident]="incident" (click)="goToIncidentDetails($event,incident)"></incident-preview>
  </div>
</ion-content>
