<ion-content>

  <div class="incident-preview-container">
    <incident-preview [incident]="incident"></incident-preview>
  </div>

  <ion-list class="accordion-list">
    <ion-list-header *ngFor="let item of detailSections, let i = index" no-lines no-padding>
      <button ion-item (click)="toggleSection(i)" detail-none
              [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
        {{ item.name }}
      </button>
      <ion-list *ngIf="item.children && item.open" id="internalDetailList">
        <ion-item *ngFor="let child of item.children, let j = index"
                  [ngClass]="{'no-border-bottom' : j === item.children.length - 1}">
          <p item-left>{{child.name}}</p>
          <p item-right>{{child.value}}</p>
        </ion-item>

      </ion-list>

    </ion-list-header>
  </ion-list>

</ion-content>
