page-login {
  .content {
    background-color: color($colors, primary, base);
  }

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width:90%;

    .item {
      padding-left:0;
    }
  }

  .item-inner {
    padding:5px;
  }

  .list {
    border:1px solid color($colors, white, base);
    border-radius: 6px;
    border-bottom:none;
  }
}
