<div>
  <ion-row>
    <ion-col col-2>
      <a class="icon-circle" [ngClass]="getClassesByIncidentGrade().iconClass">
        <ion-icon name="heart"></ion-icon>
      </a>
    </ion-col>
    <ion-col col-6 class="center-column">
      <p class="address">{{medicalHistory.symptom}}</p>
      <p class="illness">{{medicalHistory.diagnosis || "Sin diagnóstico"}}</p>
    </ion-col>
    <ion-col col-4 class="right-column">
      <div class="incident-right-data">
        <ion-icon name="ios-calendar-outline"></ion-icon>
        <span class="incident-time">{{medicalHistory.incidentDate}}</span>
      </div>
    </ion-col>
  </ion-row>
</div>

