<ion-header>
</ion-header>
<ion-content>

  <div class="profile-container">
    <div class="profile-icon">
      <a class="icon-circle icon-circle-medkit-profile">
        <ion-icon name="medkit"></ion-icon>
      </a>
      <h2>Móvil 25</h2>
    </div>
  </div>

  <ion-list>
    <ion-item-divider color="light">Acciones generales</ion-item-divider>
    <ion-item (click)="goToAccessTimePage()" *ngIf="accessTimeEnabled">
      <ion-icon name="ios-clock-outline" item-start></ion-icon>
      Registrar ingreso
    </ion-item>
    <ion-item (click)="logout()">
      <ion-icon name="ios-log-out-outline" color="danger" item-start></ion-icon>
      Cerrar sesión
    </ion-item>
  </ion-list>

</ion-content>
