<ion-header>
  <ion-navbar color="primary">
    <ion-title>Final del incidente {{incident.number}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider color="light">Parámetros generales</ion-item-divider>
    <ion-item>
      <ion-toggle checked="true" color="primary" [(ngModel)]="settings.serviceWasDone"></ion-toggle>
      <ion-label>
        El servicio fue realizado
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-toggle color="primary" [(ngModel)]="settings.copaymentCharged"></ion-toggle>
      <ion-label>
        Copago cobrado
      </ion-label>
    </ion-item>

    <ion-item-divider color="light">Configuración del servicio</ion-item-divider>

    <ion-item *ngIf="settings.serviceWasDone">
      <ion-input type="text" [(ngModel)]="settings.diagnosisCode" (ionBlur)="diagnosisCodeHandler()"></ion-input>
      <ion-label>
        Código de diagnóstico
      </ion-label>
    </ion-item>
    <ion-auto-complete *ngIf="settings.serviceWasDone" [(ngModel)]="settings.diagnosisDescription"
                       [dataProvider]="autocompleteDiagnosisService" (itemSelected)="diagnosisDescriptionSelected()"
                       [options]="{ placeholder : 'Ingrese diagnóstico' }"></ion-auto-complete>

    <ion-item *ngIf="!settings.serviceWasDone">
      <ion-input type="text" [(ngModel)]="settings.reasonCode" (ionBlur)="reasonsCodeHandler()"></ion-input>
      <ion-label>
        Código de motivo
      </ion-label>
    </ion-item>
    <ion-auto-complete *ngIf="!settings.serviceWasDone" [(ngModel)]="settings.reasonDescription"
                       [dataProvider]="autocompleteReasonsService" (itemSelected)="reasonsDescriptionSelected()"
                       [options]="{ placeholder : 'Ingrese motivo' }">
    </ion-auto-complete>

    <ion-item *ngIf="incident.clasificationId === 1">
      <ion-label>Tiempo de demora</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="settings.derivationTime">
      </ion-datetime>
    </ion-item>

    <ion-item style="margin-top:-4px">
      <ion-label>
        Observaciones
      </ion-label>
      <ion-textarea [(ngModel)]="settings.observations"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="appSettings.reportWhenClosingIncidentEnabled">
      <ion-input type="text" [(ngModel)]="settings.reportNumber"></ion-input>
      <ion-label>
        Nro. de reporte
      </ion-label>
    </ion-item>

  </ion-list>

  <button ion-button block (click)="saveChanges()">Finalizar incidente</button>

</ion-content>
