<div>
<ion-row>
  <ion-col col-2>
    <a class="icon-circle icon-circle-red">
      <ion-icon name="heart"></ion-icon>
    </a>
  </ion-col>
  <ion-col col-7 class="incident-center-column">
    <p class="address">Av. Avellaneda 3456</p>
    <p class="illness">Dolor de cabeza</p>
  </ion-col>
  <ion-col col-3 class="incident-number-column">
    <ion-badge color="danger">Inc 586</ion-badge>
  </ion-col>
</ion-row>

  <hr/>

  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-7 class="distance-column">
      <p class="distance">a 2.1 km de distancia</p>
    </ion-col>
    <ion-col col-3 class="time-column">
      <div class="incident-right-data">
        <ion-icon name="ios-clock-outline"></ion-icon>
        <span class="incident-time">10:55</span>
      </div>
    </ion-col>
  </ion-row>
</div>

