<ion-header>

  <ion-navbar color="primary">
    <ion-title>Incidente 934</ion-title>
    <ion-buttons end>
      <button ion-button (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-tabs tabsPlacement="top" id="tabIncidentHome" color="white" tabsLayout="icon-hide">
  <ion-tab tabTitle="Detalles" [root]="incidentDetailsTab"></ion-tab>
  <ion-tab tabTitle="Acciones" [root]="incidentActionsTab"></ion-tab>
</ion-tabs>
