// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../../node_modules/ionic2-auto-complete/auto-complete";

.content-md, .content-ios {
  background-color: color($colors, light, base);
}

.icon-circle {
  position: relative;
  display: inline-block;
  margin: -1px;
  width: 35px; /* 60*/
  height: 35px;
  font-size: 27px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  color: #fff;
  text-align: center;
  & ion-icon {
    font-size: 23px;
  }
  &.icon-circle-red {
    background: color($colors, danger, base);
  }
  &.icon-circle-green {
    background: color($colors, primary, base);
  }
  &.icon-circle-yellow {
    background: color($colors, yellow, base);
  }
  &.icon-circle-blue {
    background: color($colors, blue, base);
  }
}

ion-badge.red {
  background: color($colors, danger, base);
}

ion-badge.green {
  background: color($colors, primary, base);
}

ion-badge.yellow {
  background: color($colors, yellow, base);
}

ion-badge.blue {
  background: color($colors, blue, base);
}

.no-border-bottom {
  border-bottom: none !important;
}

.button-block {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.toast-error {
  .toast-wrapper {
    background-color: color($colors, danger, base);
  }
}

.toast-success {
  .toast-wrapper {
    background-color: color($colors, primary, base);
  }
}

