page-incident-actions {

  incident-action-row {
    button.item {
      border-bottom: 1px solid color($colors, line-divider, base);
    }

    &[disabled] {
      button.item{
        cursor: default;
        opacity: .4;
        pointer-events:none;
      }
    }
  }

  .item-inner {
    border-bottom: none !important;
  }

}
