<ion-content>
  <ion-list>
    <ion-item-divider color="light">Principal</ion-item-divider>
    <ion-item>
      <ion-icon name="trending-up" item-start></ion-icon>
      Dar salida
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="trending-down" item-start></ion-icon>
      Dar llegada
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>

    <ion-item class="no-border-bottom">
      <ion-icon name="hand" item-start></ion-icon>
      Finalizar
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>

    <ion-item-divider color="light">Geolocalización</ion-item-divider>

    <ion-item>
      <ion-icon name="globe" item-start></ion-icon>
      Ubicación
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>

    <ion-item class="no-border-bottom">
      <ion-icon name="navigate" item-start></ion-icon>
      Cómo llegar
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>

    <ion-item-divider color="light">Misceláneos</ion-item-divider>

    <ion-item>
      <ion-icon name="camera" item-start></ion-icon>
      Adjuntar imagen
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>

    <ion-item class="no-border-bottom">
      <ion-icon name="list-box" item-start></ion-icon>
      Historia clínica
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>
